WorkFlowEngine/TestCommunication/Service References/WFService/WorkFlowWCFService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:9090/WorkFlowWCFService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" />
  <xs:import schemaLocation="http://localhost:9090/WorkFlowWCFService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/WorkFlowService.Help" />
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" minOccurs="0" name="entity" nillable="true" type="q1:AppInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WorkFlowService.Help" minOccurs="0" name="ExecuteResult" type="q2:WorkFlowState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorkFlow">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" minOccurs="0" name="entity" nillable="true" type="q3:AppInfoModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="NewWorkFlowResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WorkFlowService.Help" minOccurs="0" name="NewWorkFlowResult" type="q4:WorkFlowState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInProgressActivityListByOperatorUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatorUserId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueryInProgressActivityListByOperatorUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" minOccurs="0" name="QueryInProgressActivityListByOperatorUserIdResult" nillable="true" type="q5:ArrayOfWorkFlowActivityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentActivityStateByAppIdAndUserID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="appId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCurrentActivityStateByAppIdAndUserIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WorkFlowService.Help" minOccurs="0" name="GetCurrentActivityStateByAppIdAndUserIDResult" type="q6:ActivityState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>