WorkFlowEngine/TestCommunication/Service References/WFService/WorkFlowWCFService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CommonLibrary.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AppInfoModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActivityState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AppInfoModel" nillable="true" type="tns:AppInfoModel" />
  <xs:complexType name="ArrayOfWorkFlowActivityModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WorkFlowActivityModel" nillable="true" type="tns:WorkFlowActivityModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWorkFlowActivityModel" nillable="true" type="tns:ArrayOfWorkFlowActivityModel" />
  <xs:complexType name="WorkFlowActivityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="AppId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AppName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ApplicationState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CreateUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrentWorkflowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeWorkflowState" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsDelete" type="xs:boolean" />
      <xs:element minOccurs="0" name="LastUpdateDateTime" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="OperatorActivity" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorUserId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperatorUserList" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WorkflowName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WorkFlowActivityModel" nillable="true" type="tns:WorkFlowActivityModel" />
</xs:schema>